{% extends 'base.html' %}

{% block titulo %} Detalle de producto {% endblock %}

{% block contenido %}
<h1>Detalle de producto</h1>
<form action="/modificaproducto" class="u-full-width" method="post">
    {{ form.hidden_tag() }}
    
    {{ form.tipo_producto.label}}
    {% if form.tipo_producto.errors %}
        {{ form.tipo_producto(class="u-full-width error", placeholder="Producto") }}
        {% for error in form.tipo_producto.errors %}
            <p class="error-msg">{{ error }}</p>
        {% endfor%}
        {#  Soy un comentario #}
        {% else %}
        {{ form.tipo_producto(class="u-full-width", placeholder="Producto") }}
    {% endif %}
    
    {{ form.precio_unitario.label}}
    {% if form.precio_unitario.errors %}
    {{ form.precio_unitario(class="u-full-width error", placeholder="Precio unitario") }}
        {% for error in form.precio_unitario.errors %}
            <p class="error-msg">{{ error }}</p>
        {% endfor%}
    {% else %}
        {{ form.precio_unitario(class="u-full-width", placeholder="Precio unitario") }}
    {% endif %}

    {{ form.coste_unitario.label}}
    {% if form.coste_unitario.errors %}
        {{ form.coste_unitario(class="u-full-width error", placeholder="Coste") }}
        {% for error in form.coste_unitario.errors %}
            <p class="error-msg">{{ error }}</p>
        {% endfor%}
    {% else %}
        {{ form.coste_unitario(class="u-full-width", placeholder="Coste") }}
    {% endif %}

    {{ form.submit(class="button-primary")}}
</form>
{% endblock %}