{% extends 'base.html' %}

{% block titulo %} Listado de productos {% endblock %}

{% block contenido %}
    <h1>Lista de productos</h1>
    <a class="button button-primary" href="/addproducto">Nuevo</a>
    <table class="u-full-width">
        <tr>
            <th>Producto</th>
            <th>Precio U.</th>
            <th>Coste U.</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td class="producto"><a href="/modificaproducto?id={{producto[0]}}">{{ producto[1] }}</a></td>
            <td>{{ producto[2] }}</td>
            <td>{{ producto[3] }}</td>

        </tr>
        {% endfor %}
    </table>


{% endblock %}