{% extends 'base.html' %}

{% block titulo%}Ventas por región{% endblock %}

{% block contenido %}
    <h1>Ventas por región</h1>
    <table class="u-full-width">
        <tr>
            <th>Region</th>
            <th>Ventas</th>
            <th>Beneficios</th>
        </tr>
        {% for region, data in ventas.items() %}
        <tr>
            <td class="region"><a href="/paises?region={{ region }}">{{ region }}</a></td>
            <td>{{ data.ingresos | round(2, 'floor')}} € </td>
            <td>{{ data.beneficios | round(2, 'floor')}} €</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}