:root {
    --main-color: #494368;
}
  
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    padding: 10px;
    background-color: var(--main-color);
    color: white;
}

table {
    width: 80%;
    margin: 10px auto;
    border: 1px solid var(--main-color); 
}

td, th {
    border: 1px solid var(--main-color); 
    padding: 2px;
}

th {
    background-color: var(--main-color);
    color: white;
}

td.region {
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
}
