* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    padding: 10px;
    background-color: #CE6A85;
    color: white;
}

table {
    width: 80%;
    margin: 10px auto;
    border: 1px solid #CE6A85; 
}

td, th {
    border: 1px solid #CE6A85; 
    padding: 2px;
}

th {
    background-color: #CE6A85;
    color: white;
}

td.region {
    font-weight: bold;
    color: #CE6A85;
    text-align: center;
}
