<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global S.L | {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/skeleton.css">
</head>
<body>
    <header>
        GLOBAL S.L.
    </header>
    <section class="container">
        {% block contenido %}{% endblock %} 
    </section>
    <footer>
        &copy; 2020 - Todos los derechos reservados
    </footer>
</body>
</html>
