{% extends 'base.html' %}

{% block titulo%}Ventas por país{% endblock %}

{% block contenido %}
    <h1>Ventas en {{region_nm}} , deglosadas por país</h1>
    <table>
        <tr>
            <th>País</th>
            <th>Ventas</th>
            <th>Beneficios</th>
        </tr>
        {% for pais,data in ventas_pais.items()%}
        <tr>
            <td class="pais">{{pais}}</td>
            <td>{{data.ingresos}}</td>
            <td>{{data.beneficios}}</td>

        </tr>
        {% endfor %}
    </table>
{% endblock %}