{% extends 'base.html' %}

{% block titulo %} Listado de productos {% endblock %}

{% block contenido %}
    <h1>Lista de productos <a class="button button-primary" href="/">Atrás</a></h1>
    <table>
        <tr>
            <th>Producto</th>
            <th>Precio U.</th>
            <th>Coste U.</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td class="producto">{{ producto[1] }}</td>
            <td>{{ producto[2] }}</td>
            <td>{{ producto[3] }}</td>

        </tr>
        {% endfor %}
    </table>


{% endblock %}