<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global S.L.</title>
</head>
<body>
    <h1>Ventas por región</h1>
    <table>
        <tr>
            <th>Region</th>
            <th>Ventas</th>
            <th>Beneficios</th>
        </tr>
        <tr>
            <td>Australia y Oceania</td>
            <td>1200000</td>
            <td>350000</td>
        </tr>
        <tr>
            <td>Central America</td>
            <td>1200000</td>
            <td>350000</td>
        </tr>
        <tr>
            <td>Europa</td>
            <td>1200000</td>
            <td>350000</td>
        </tr>
        <tr>
            <td>Subsaharian</td>
            <td>1200000</td>
            <td>350000</td>
        </tr>
    </table>
</body>
</html>